@font-face {
	font-family: 'AvenirLTStdLight';
	src: url(../../assets/fonts/AvenirLTStdLight.woff2) format('woff2'),
	url(../../assets/fonts/AvenirLTStdLight.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}