@font-face {
	font-family: 'AvenirLTStdBlack';
	src: url(../../assets/fonts/AvenirLTStdBlack.woff2) format('woff2'),
	url(../../assets/fonts/AvenirLTStdBlack.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}