@font-face {
	font-family: 'BitterBold';
	src: url(../../assets/fonts/BitterBold.woff2) format('woff2'),
	url(../../assets/fonts/BitterBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}